.diensten {
  padding: 50px;
  margin: 75px;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 5rem;
}

.dienst {
  padding: 1rem;
  height: 25rem;
}

@media (min-width: 815px) {
  .diensten {
    grid-template-columns: repeat(2, 1fr);
  }
}
