footer {
  background-color: lightgray;
}

#socialmedia-container {
  display: flex;
  justify-content: flex-end;
}

.fa {
  padding: 10px;
  font-size: 3rem;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.3;
}

.fa-instagram {
  color: red;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #55acee;
}

#copyright-container {
  display: flex;
  justify-content: center;
}
