.mepage {
  padding: 15px;
  font-family: sans-serif;
}

H1 {
  display: flex;
  justify-content: center;
}

.metext {
  text-align: center;
}

.selfie > img {
  width: 175px;
}

.intro > H3, p{
  display: flex;
  justify-content: center;
}