.mepage {
  padding: 15px;
  font-family: sans-serif;
}

H1 {
  display: flex;
  justify-content: center;
}

.metext {
  text-align: center;
}

.selfie > img {
  width: 175px;
}

.intro > H3, H4{
  display: flex;
  justify-content: center;
}

.intro-text{
  display: flex;
  justify-content: center;
  gap: 15px;
}

.intro-text > p{
  width: 600px;
  word-wrap: normal;
}