.mepage {
  padding: 15px;
  font-family: sans-serif;
}

H1 {
  display: flex;
  justify-content: center;
}

.metext {
  text-align: center;
}

#mij-text {
  max-width: 650px;
}

.selfie > img {
  width: 175px;
}

.h-text {
  text-align: center;
}

.text-flexboxes {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.intro-text > p {
  width: 600px;
  word-wrap: normal;
}

.diploma > img {
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

@media (max-width: 660px) {
  .mepage {
    padding: 5px;
    display: flex;
    flex-direction: column;
  }

  .text-flexboxes {
    word-break: normal;
    max-width: 200px;
    display: flex;
    flex-direction: column;
  }

  .intro-text > p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    text-align: center;
  }

  #mij-text {
    width: 365px;
  }

  #skills-text {
    width: 360px;
  }
}
